        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 30px;
            background-color: white;
            box-shadow: 0 0 10px rgba(209, 84, 34, 0.1);
        }
        
        /*.resume-page {
            display: none; /* Hide all pages by default */
        /*}

        /* Style the pagination buttons */
        #prev-page,
        #next-page {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        #loading-spinner {
            width: 3rem; /* Adjust the width as needed */
            height: 3rem; /* Adjust the height as needed */
            color: black; /* Change the color to your preferred color */
            position: absolute; /* Adjust the position as needed */
            top: 20%; /* Center vertically */
            left: 50%; /* Center horizontally */
            margin-top: -1.5rem; /* Negative margin to center vertically */
            margin-left: -1.5rem; /* Negative margin to center horizontally */
        }

        h1 {
            color: black;
            font-size: 28px;
            margin-bottom: 20px;
            text-align: center;
        }

        h2 {
            color: black;
            font-size: 18px;
            margin-bottom: 20px;
            text-align: left;
        }

        h3 {
            color: black;
            font-size: 12px;
            margin-bottom: 20px;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 1;
            color: gray;
        }
        .section {
            margin-bottom: 20px;
        }
        .section-title {
            font-size: 24px;
            color: black;
            margin-bottom: 10px;
        }
        
        ul {
            list-style-type: disc;
            margin-left: 20px;
        }

        .profile-picture {
         display: block;
        margin: 0 auto;
        border-radius: 60%;
        width: 200px; /* Adjust the width and height as needed */
        height: 200px;
        }

        .vertical-center {
            margin: 0;
            position: absolute;
            top: 240%;
            -ms-transform: translatex(100%);
            transform: translatex(100%);
          }
          
        